<div class="row">
    <div style="position: relative;">
      <img src="https://cdn.icon-icons.com/icons2/742/PNG/512/shopping-cart-3_icon-icons.com_63429.png" alt="logo" class="bg-image">
    </div>
    <div style="position: absolute;" class="col-md-4 offset-md-4 col-sm-6 offset-sm-3">
      <div class="card login">
        <div class="card-body login-card">
          <div class="login-avatar">
            <img src="https://pluspng.com/img-png/user-png-icon-account-avatar-human-male-man-men-people-person-download-svg-download-png-edit-icon-512.png" alt="user" class="user-image">
          </div>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" formControlName="username" class="form-control" 
                [ngClass]="{ 'is-invalid': submitted && f['username'].errors }" />
              <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
                  <div *ngIf="f['username'].errors['required']">Username is required</div>
                  <div *ngIf="f['username'].errors['minlength']">Password must be at least 10 characters</div>
                  <div *ngIf="f['username'].errors['pattern']">Username must be valid, , only '_' special character allowed</div>
              </div>
            </div>
          
            <div class="form-group">
              <label for="password">Password </label>
              <input type="password" formControlName="password" class="form-control"
                     [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
              <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                  <div *ngIf="f['password'].errors['required']">Password is required</div>
                  <div *ngIf="f['password'].errors['minlength']">Password must be at least 8 characters</div>
                  <div *ngIf="f['password'].errors['pattern']">
                    Password must have upper and lower case combination,
                    should have atleast 1 number, 1 special characters (#,?,!,@,$,%,^,&,*,_).
                  </div>
              </div>

              <div class="text-right forget-pass">
                <a routerLink="/forget-password">Forget Password ?</a>
              </div>
            </div>
            <div class="text-center">
              <input type="submit" class="btn btn-color" value="Login">
            </div>
          </form>
          <div class="text-center sign-up-text">
            Don`t have an account ? <a routerLink="/signup">Sign Up</a> here.
          </div>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>